<template>
    <div class="prod-all-count">Количество продуктов: <b>45</b></div>
</template>

<script>
export default {
    props: {

    },
    mounted() {

    },
    data: function () {
        return {

        }
    },
    methods: {

    },
}
</script>