<template>
    <div>
        product card1
    </div>
</template>

<script type="text/javascript">
export default {
    props: [

    ],

    data: function () {
        return {
            'addToCart': 0,
            'addToCartHtml': '',
        }
    },

    methods: {
        'isMobile': function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true;
            } else {
                return false;
            }
        }
    }
}
</script>