<template>
    <div class="prod-all-count">Количество продуктов: <b>{{ count }}</b></div>
</template>

<script>
export default {
    props: {
        count: {
            type: Number,
            default: 0
        }
    },
    mounted() {

    },
    data: function () {
        return {

        }
    },
    methods: {

    },
}
</script>