<template>
    <div>
        <div class="excursions">
            <div class="excursion" v-if="excursion.name" v-for="(excursion, key) in excursionsArray">
                {{ key + 1 }} - {{ excursion.name }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        excursions: {
            type: String,
            default: ""
        }
    },
    mounted() {
        this.update();
        axios.get(`${this.excursionsUrl}`).then(function (response) {
            console.log('Список экскурсий, полученный через axios в компоненте', response)
        });
    },
    data: function () {
        return {
            excursionsArray: [],
            excursionsUrl: '/api/excursions',
        }
    },
    methods: {
      update() {
          this.excursionsArray = JSON.parse(this.excursions);
      }
    },
}
</script>