<template>
    <div class="container-fluid dragndrop-component">
        <div class="row">
            <div class="col-12 from-group mb-2">
                <button class="btn btn-sm btn-primary" @click="add">Добавить перетаскиваемый элемент</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="from-group" v-show="list.length">
                    <!--            <h3>Draggable {{ draggingInfo }}</h3>-->
                    <div class="control-group">
                        <draggable
                            tag="ul"
                            :list="list"
                            class="list-group"
                            handle=".handle"
                            ghost-class="ghost"
                            v-bind="dragOptions"
                            @start="drag = true"
                            @end="drag = false"
                        >
                            <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                                <li
                                    class="list-group-item"
                                    v-for="(element, idx) in list"
                                    :key="element.id"
                                >
                                    <span class="handle">
                                    </span>
                                    <span class="text">{{ element.name }} </span>
                                    <input :name="`drag_data[${idx}][id]`" type="hidden" v-model="element.id" />
                                    <input :name="`drag_data[${idx}][name]`" type="hidden" v-model="element.name" />
                                    <input :name="`drag_data[${idx}][text]`" type="text" class="control" v-model="element.text" />
                                    <span class="remove-list-group-item" @click="removeAt(idx)"></span>
                                </li>
                            </transition-group>
                        </draggable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import draggable from "vuedraggable";
export default {
    name: "handle",
    display: "Handle",
    instruction: "Drag using the handle icon",
    order: 5,
    components: {
        draggable
    },
    props: {
        data: {
            default: [],
        }
    },
    created() {
        this.updateList();
    },
    data() {
        return {
            list: [],
            id: 0,
            dragging: false,
            drag: false,
        };
    },
    computed: {
        dragOptions() {
            return {
                animation: 200,
                group: "description",
                disabled: false,
                ghostClass: "ghost"
            };
        }
    },
    mounted() {
        this.id = this.list.length;
    },
    methods: {
        updateList() {
          if (this.data !== null) {
              for (var key in this.data) {
                  this.list.push(this.data[key]);
              }
          }
        },
        removeAt(idx) {
            this.list.splice(idx, 1);
        },
        addId() {
            this.id++;
        },
        add: function(e) {
            e.preventDefault();
            this.addId();
            this.list.push({ id: this.id, name: "Значение", text: "" });
        }
    }
};
</script>
<style scoped>
.dragndrop-component{
    margin-bottom: 10px;
}
.button {
    margin-top: 35px;
}
.handle:hover {
    cursor: grab;
    /*float: left;*/
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
}
.close {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
input {
    display: inline-block;
    width: 50%;
}
.text {
    margin: 20px;
}
li.list-group-item {
    padding: 5px;
    border-radius: 10px;
    box-shadow: -3px 3px 8px #c4c4c4;
    margin-bottom: 10px;
    width: 100%;
}
li.list-group-item:first-child{
    margin-top: 10px;
}
span.handle {
    float: right;
    background-image: url(/themes/default/assets/images/icon-sort.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 5px;
}
.remove-list-group-item{
    background-image: url(/themes/default/assets/images/icon-crossed.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.dragndrop-component .control-group .control{
    margin-top: 5px;
}

.button {
    margin-top: 35px;
}
.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
.list-group {
    min-height: 20px;
}
</style>