<template>
    <div>
        <slot name="modals" :props="{ showConfirmModal: showConfirmModal }"></slot>

        <modal id="confirmModal" :is-open="this.$root.modalIds.confirmModal" :isSecond="confirmModalIsSecond">
            <h3 slot="header">{{ confirmModalText }}</h3>
            <div slot="body">
                <div class="btn btn-sm btn-primary" @click="submitForm()">Ок</div>
                <div class="btn btn-sm btn-primary" @click="closeModal('confirmModal')">Отмена</div>
            </div>
        </modal>

        <slot name="body" :props="{ showModal: showModal, showConfirmModal: showConfirmModal, dataGridKey: dataGridKey }"></slot>
    </div>
</template>

<script>


export default {
    props: [],
    mounted() {

    },
    data: function () {
        return {
            components: [],
            dragging: false,
            siteUrl: window.location.origin,
            pageId: null,
            confirmModalFunction: null,
            confirmModalText: 'Вы действительно хотите совершить действие?',
            confirmModalAction: null,
            confirmModalIsSecond: false,
            dataGridKey: 0,
        }
    },
    computed: {
        dragOptions() {
            return {
                animation: 200,
                group: "description",
                disabled: false,
                ghostClass: "ghost",
                activeForm: null,
            };
        },
    },
    methods: {
        updateGrid() {
            this.dataGridKey = this.dataGridKey + 1;
        },

        submitForm() {
            let self = this;
            let formData = $(this.activeForm).serialize();
            axios
                .post(self.confirmModalAction, formData)
                .then(function (response) {
                    window.flashMessages = [{'type': 'alert-success', 'message': response.data.message }];
                    self.$root.addFlashMessages();
                    self.closeAllModals();
                    self.updateGrid();
                });
        },

        closeModal(id) {
            this.$root.$set(this.$root.modalIds, id, false);
        },

        closeAllModals() {
            for (var prop in this.$root.modalIds) {
                this.$root.$set(this.$root.modalIds, prop, false);
            }
        },

        showConfirmModal(event, text, action, is_second) {
            this.activeForm = $(event.target).closest("form");
            this.confirmModalText = text;
            this.confirmModalAction = action;
            this.confirmModalIsSecond = is_second;
            this.$root.showModal('confirmModal');
        },

        showModal(modalId, pageId) {
            this.$root.showModal(modalId);
            this.pageId = pageId;
        },

    },
}
</script>

<style scoped>
.button {
    margin-top: 35px;
}
.handle {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}
.close {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
input {
    display: inline-block;
    width: 50%;
}
.text {
    margin: 20px;
}
.handle:hover {
    cursor: grab;
}
.ghost {
    opacity: 0;
}

.look-book-page-mini-img{
    display: inline-block;
    max-height: 20px;
    vertical-align: middle;
}

.look-book-page-wrap .left{
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: top;
}
.look-book-page-wrap .right{
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-top: 47px;
}

</style>